h1, h2 {
    text-align: center;
}

.indivProject {
    width: 18rem;
    border: solid;
    display: inline-block;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

div > h4, img {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#bottomLinks {
    padding-top: 10px;
    padding-bottom: 20px;
}

.projList {
    justify-content: center;

}